In [52]:
import tensorflow as tf
import pandas as pd
import numpy as np
import datetime as dt

# Loading the DataSets

In [53]:
df=pd.read_csv('train.csv')
df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [54]:
df['xval']=df['X']/180
df['yval']=df['Y']/180

#preprocessing time data
df['Dates'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d %H:%M:%S")
df['Hour'] = df['Dates'].map(lambda tobj: tobj.hour)
df['Minute'] = df['Dates'].map(lambda tobj: tobj.minute)
df['tval']=(df['Hour']+0.01*df['Minute'])/24

#check data status
df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,xval,yval,Hour,Minute,tval
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,-0.680144,0.209859,23,53,0.980417
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,-0.680144,0.209859,23,53,0.980417
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,-0.680135,0.210002,23,33,0.972083
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,-0.680150,0.210005,23,30,0.970833
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,-0.680215,0.209842,23,30,0.970833

In [55]:
#encoding the categories to a numerical value

#df['Category']=df['Category'].astype('category')
#df['catval']=df['Category'].cat.codes

#checking data status

df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,xval,yval,Hour,Minute,tval
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,-0.680144,0.209859,23,53,0.980417
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,-0.680144,0.209859,23,53,0.980417
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,-0.680135,0.210002,23,33,0.972083
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,-0.680150,0.210005,23,30,0.970833
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,-0.680215,0.209842,23,30,0.970833

In [56]:
#getting rid of the nan row in the end

df.dropna(inplace=True)

In [57]:
features=['xval','yval','tval']

In [58]:
input_df=df[features]

In [59]:
xyz=pd.get_dummies(df,columns=['Category'])

In [60]:
xyz.columns

Index(['Dates', 'Descript', 'DayOfWeek', 'PdDistrict', 'Resolution', 'Address',
       'X', 'Y', 'xval', 'yval', 'Hour', 'Minute', 'tval', 'Category_ARSON',
       'Category_ASSAULT', 'Category_BAD CHECKS', 'Category_BRIBERY',
       'Category_BURGLARY', 'Category_DISORDERLY CONDUCT',
       'Category_DRIVING UNDER THE INFLUENCE', 'Category_DRUG/NARCOTIC',
       'Category_DRUNKENNESS', 'Category_EMBEZZLEMENT', 'Category_EXTORTION',
       'Category_FAMILY OFFENSES', 'Category_FORGERY/COUNTERFEITING',
       'Category_FRAUD', 'Category_GAMBLING', 'Category_KIDNAPPING',
       'Category_LARCENY/THEFT', 'Category_LIQUOR LAWS', 'Category_LOITERING',
       'Category_MISSING PERSON', 'Category_NON-CRIMINAL',
       'Category_OTHER OFFENSES', 'Category_PORNOGRAPHY/OBSCENE MAT',
       'Category_PROSTITUTION', 'Category_RECOVERED VEHICLE',
       'Category_ROBBERY', 'Category_RUNAWAY', 'Category_SECONDARY CODES',
       'Category_SEX OFFENSES FORCIBLE', 'Category_SEX OFFENSES NON FORCIBLE',
       'Category_STOLEN PROPERTY', 'Category_SUICIDE',
       'Category_SUSPICIOUS OCC', 'Category_TREA', 'Category_TRESPASS',
       'Category_VANDALISM', 'Category_VEHICLE THEFT', 'Category_WARRANTS',
       'Category_WEAPON LAWS'],
      dtype='object')

In [63]:
f_out=['Category_ARSON',
       'Category_ASSAULT', 'Category_BAD CHECKS', 'Category_BRIBERY',
       'Category_BURGLARY', 'Category_DISORDERLY CONDUCT',
       'Category_DRIVING UNDER THE INFLUENCE', 'Category_DRUG/NARCOTIC',
       'Category_DRUNKENNESS', 'Category_EMBEZZLEMENT', 'Category_EXTORTION',
       'Category_FAMILY OFFENSES', 'Category_FORGERY/COUNTERFEITING',
       'Category_FRAUD', 'Category_GAMBLING', 'Category_KIDNAPPING',
       'Category_LARCENY/THEFT', 'Category_LIQUOR LAWS', 'Category_LOITERING',
       'Category_MISSING PERSON', 'Category_NON-CRIMINAL',
       'Category_OTHER OFFENSES', 'Category_PORNOGRAPHY/OBSCENE MAT',
       'Category_PROSTITUTION', 'Category_RECOVERED VEHICLE',
       'Category_ROBBERY', 'Category_RUNAWAY', 'Category_SECONDARY CODES',
       'Category_SEX OFFENSES FORCIBLE', 'Category_SEX OFFENSES NON FORCIBLE',
       'Category_STOLEN PROPERTY', 'Category_SUICIDE',
       'Category_SUSPICIOUS OCC', 'Category_TREA', 'Category_TRESPASS',
       'Category_VANDALISM', 'Category_VEHICLE THEFT', 'Category_WARRANTS',
       'Category_WEAPON LAWS']

In [65]:
df_out=xyz[f_out]

In [38]:
#end of data manipulation

# Building the model

In [71]:
inputs=tf.keras.layers.Input(3)
#hidden1=tf.keras.layers.Dense(27, activation='relu')(inputs)
#hidden2=tf.keras.layers.Dense(10,activation='relu')(hidden1)
outputs=tf.keras.layers.Dense(39,activation='sigmoid')(inputs)

In [72]:
model=tf.keras.Model(inputs=inputs,outputs=outputs)

In [73]:
model.compile(optimizer=tf.keras.optimizers.SGD(learning_rate=0.001),loss=tf.compat.v1.losses.log_loss,metrics=['accuracy'])

In [74]:
model.fit(input_df,df_out,epochs=10)

Epoch 1/10
9924/9924 [==============================] - 15s 2ms/step - loss: 0.6540 - accuracy: 0.2014
Epoch 2/10
9924/9924 [==============================] - 15s 2ms/step - loss: 0.5678 - accuracy: 0.2253
Epoch 3/10
9924/9924 [==============================] - 15s 2ms/step - loss: 0.4992 - accuracy: 0.2262
Epoch 4/10
9924/9924 [==============================] - 15s 2ms/step - loss: 0.4442 - accuracy: 0.2295
Epoch 5/10
9924/9924 [==============================] - 15s 1ms/step - loss: 0.3997 - accuracy: 0.2316
Epoch 6/10
9924/9924 [==============================] - 15s 2ms/step - loss: 0.3634 - accuracy: 0.2316
Epoch 7/10
9924/9924 [==============================] - 15s 1ms/step - loss: 0.3334 - accuracy: 0.2316
Epoch 8/10
9924/9924 [==============================] - 15s 1ms/step - loss: 0.3083 - accuracy: 0.2316
Epoch 9/10
9924/9924 [==============================] - 15s 1ms/step - loss: 0.2872 - accuracy: 0.2316
Epoch 10/10
9924/9924 [==============================] - 15s 1ms/step - loss: 0.2693 - accuracy: 0.2316

# Model 2.0

In [101]:
inputs_a=tf.keras.layers.Input(3)
hidden1=tf.keras.layers.Dense(1, activation='relu')(inputs_a)
outputs_a=tf.keras.layers.Dense(39,activation='sigmoid')(hidden1)

In [102]:
model_a=tf.keras.Model(inputs=inputs_a,outputs=outputs_a)

In [103]:
model_a.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [104]:
model_a.fit(input_df,df_out,epochs=5)

Epoch 1/5
9924/9924 [==============================] - 16s 2ms/step - loss: 0.1760 - accuracy: 0.2315
Epoch 2/5
9924/9924 [==============================] - 17s 2ms/step - loss: 0.0913 - accuracy: 0.2316
Epoch 3/5
9924/9924 [==============================] - 17s 2ms/step - loss: 0.0910 - accuracy: 0.2316
Epoch 4/5
9924/9924 [==============================] - 17s 2ms/step - loss: 0.0910 - accuracy: 0.2316
Epoch 5/5
9924/9924 [==============================] - 16s 2ms/step - loss: 0.0910 - accuracy: 0.2316